<div class="container">
<p>Silver, Gold, Platinum and Board members will see this links bar on their pages :</p>
<p>The following explanations of the site links can be expanded by pressing the respective definition button.
</p>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Perfect Anagrams
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
Perfect Anagrams can be created, discovered and verified using the Completes search. Enter your text entry and press the button .. the database will be        
The Perfect Anagram is so named because English is capable of showing the 'two sides of the same coin', or perhaps better described as the 'healings of ills in the same letter frequency.' The Perfect Anagrams show a new view on the same letters and their creations. Folks pretty much all know that a Full Anagram is one that uses all the letters of the other word, to make another word. Not all anagrams need be full.

In our Perfect Anagram researches, we also found Perfect TriAnagrams, and beyond, all reflecting in some way the idea they each describe. We found such perfectly reflective anagrams are healing to the awareness addressed, and the ills they describe, and so we called them Perfect Anagrams, easily seen to be heads and shoulders above the Full Anagram, meanings wise. To put it simply, the Perfect Anagram and the Full Anagram are not equals, in terms of meanings worthy of knowing.

Our favorite example to show this magic of English is, if you have AILMENT(S), then check your ALIMENTS. Said another way, if you have sickness(es), check your nourishments. AILMENTS == ALIMENTS letters wise, with one word showing the effects, the other showing the causes of illness .. the lack of proper nourishments. 'tis fact easily seen and so ..

In the early years of this research, we used to call the Perfect Anagram, an OLLPUHA. (ol poo' ah) .. OLLPUHAS is the plural, and you say it without the d in old; ol poo ahs.

One Line Letter Perfect Ultimate Healing Anagrams.

Because, that is what they are .. they are healing to you upon seeing them. Their truth shines such that you cannot miss them, if you know the meanings of the nameings.

For clarity, a Full Anagram is any matching of the letters on both sides of the == signs. The double equals signs together in this manner == is computer and mathematical language saying to you, things are generally equal in almost all ways on both sides of the equation, such as .. we have an equal number of characters, and we have an equal usage of particular letters, and so you can say both sets of letters on each side of the equation came from the same source letters.

We share another of the best we have found to live aware in the nowments .. Here is where you must have the discerning eye .. you can plainly see MANTLE == MANTEL, and yet what worth these words together in this manner ? None that I can plainly see. MANTEL is one name, Mickey Charles Mantel; Yes, that Mickey Mantel, and yes, others who use the Mantel surname, and yes, this is the only usage of MANTEL, while the lexicon shows MANTLE has many definitions, from a cloak worn by women to the plates of the earth, and others.

Then along comes one who has found a meaningful Full Anagram with these same letters, and its value rises to us because it is useful to know. When you find one that tickles your soul, you can call it a Perfect Anagram. It is perfect to your understanding of the accurate and true, worthy of place amongst your heart's best knowings.

MENTAL == LAMENT is a Perfect Anagram, giving you a potent hint.

Letterswise MENTAL == LAMENT, the same letters creating two very different words. Yet there is meaning to be found here, for you can always hear folks LAMENT something in their life. Their MENTAL LAMENT is painful to the person. This is real life pain, a mental and physical hurting, and one key here is to see that fact. Now we turn to the art and science of the Lexigram, and we can see the healing is contained in A MALE TAME A MENTAL LAMENT. Same as, A MA TAME A MENTAL LAMENT, another Lexigram line from the letters of our MENTAL ability. We can tame the MENTAL images with sincere MEDITATION another magical word full of meanings in its nameings.


  
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Lenses
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Lenses can also be thought of as the Star Art names you are referencing.
the Lense is the name, phrase or word you are working within Lexigram form.
the Lense is the 'mother word(s)' keeping track of the lines created from the mother's letters.
the Lense sequence is what keeps track of the Lexigram lines from the rendering of any English name, phrase or wording.
the Lense can show the Lexigram renderings at work .. try it by searching the word, EARTHLINGS, at the Lense link. each line you see in the response was added as a Star Art line from the EARTHLINGS renditions we have done over the years. visitors may see this search here : EARTHLINGS
to reiterate ..
the Lense was created as a datum in the database so that searches can be done for any Star Arts of any name, phrase or word, and so find all their lines. otherwise, that association of the individual lines to the Star Art is lost upon entry without the Lense reference.
if you were to enter FORGIVENESS FREE ONE into the Sequence Entry box, then enter FORGIVENESS into the Sequence Lense box, then TAB OUT, you will see it takes a second for it to process the entry, and it compares your entry here, to your actual entry in the Sequence Text box. You can see what happens if it is not a valid entry by typing into the box, instead of FORGIVENESS, type in just the word FORGIVE, and you will see you are over letterswise, by the letters, enss.
the Lenses search will find all of the children of what can be considered 'mother words.' An example: when you search the word EARTHLINGS at the Lenses search page, you will see over a thousand answers. In our years usages of the database, the Lense is always the name of a Star Art, be that a name, phrase or a singular word. The Lense is entered into the data by the user for each Lexigram line from the renderings of the Star Art so as to associate the Lense with the Text Entry. Otherwise this direct association of any one Lexigram line from that research is lost as a 'group of work.' You can know when you find Lense results, someone has worked this sequence in some way, to some degree, with the Lexigram sequence. When you tab out of the Lense box, our processors will convert your entry to its Lexigram sequence, and then check to make sure your Text Entry is a proper subset of those letters. You can also know that the Lense capability was among the strongest reasons for our building this web site, so as to not lose track of the Star Arts and their lines in association with each other. You can know that if there is a Lense entry, it was made by someone who worked the Lexigram sequence of this creation, and wants to associate those lines of revealing found. Finally, we are aware that as the database grows, it may indeed become overwhelming to see all the variations of any particular sequence's creations. As it is now, our entries of all the lines from all the paper renditions of THE STAR ARTS IN EARTHLINGS we could find in our gallery of Star Arts, you will see that in database form it can show a lost art of meaning due to too many lines in too many machinations, and not in the proper order so as to make the most sense. It is up to you to pick and choose to create meaning suitable to your searching from the database results. Again, what you are seeing in the database response is a combination of many renditions of THE STAR ARTS IN EARTHLINGS, as a word. You can see examples of both .. compare : THE STAR ARTS IN EARTHLINGS to our public dataclip of : EARTHLINGS.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Texts
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
the Texts search allows you to find exact matches to your search entry. Enter the text, EARTHLINGS, and you will see only those answers that exactly match your text of EARTHLINGS, as made by others, if there are any. Consider using the Completes search instead, you will see the echoes of this particular letters sequence, if any. The larger the database grows, the more the echoes will begin to show.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Creations
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
the Creations search will search the database for exact sequence matches, that will match up with different Texts. The purpose and reasoning for the Creation searches is to find the rare occurences of the exact same letters in the exact same position creating different wordings and different meanings. We give no example here at this time.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Completes
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
the Completes link will give you the opportunity to search the database for matches to all the letters of what you are searching. For further information, press Perfect Anagrams above.
  the Completes search will enable you to verify Perfect Anagrams, and other texts from those same letters.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Lexigrams 
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
the Lexigrams searches will find matches to your search entry, after it generates the Lexigram sequence, and then searches the database for that sequence and all its creations.
  the Lexigrams search will show the differing texts coming from the same Lexigram sequence.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Singulars
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
Press the Singulars link and you will be able to search the database for what can be considered 'mothering sequences.' An example we give you is to search the word, EARTHLINGS, this time at the Singulars search page. You will see over one thousand EARTHLINGS Lense answers, plus all other answers that have the letters of your sequence, even if they are duplicated or triplicated or more in their usage in the answers. For instance, if you search IMPS in the Singulars search, Mississippi will show up in the answers. The Singular sequence and its uses are an interesting research at this time, and will become moreso as the database grows.
  the Singular search results are still being researched for accurate description.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Snips
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      The 'snip' searches allow you to find any creation by searching any sequence of letters in defined positions of the creations.
Pressing the Snips links allows you to search for any sequence of letters at the beginning of a text, anywhere in the middle, and the end. An example is searching for the EndSnip of, STROPHE, will give you apostrophe, catastrophe, and others.      </div>
    </div>
  </div>
</div>
   
</div>
