<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= member.age %>
  </p>

  <p>
    <strong>Intrest:</strong>
    <%= member.intrest %>
  </p>

</div>
